<h1>SignUp!</h1>

<form action='/register' method='post'>
	<input type='text' placeholder='Username' name='username'>
	<input type='password' placeholder='password' name='password'>
	<button>Submit!</button>
</form>

	<h4>Already registered?</h4>
	<p><a href='/login'>Login</a> here instead.</p>
